<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Form Test</title>
</head>
<body>
<h1>GET, POST Page</h1>
<hr>
<h2>GET 방식의 폼문서</h2>
<form action="/result" method="get">
<!--    전송버튼 : button, input:submit -->
    <button>전송1</button>
<!--    input:submit-->
    <input type="submit" value="전송2">
</form>
<hr>
<h2> POST 방식의 폼문서</h2>
<form action="/result" method="post">
<!--    전송버튼 : button, input:submit -->
    <button>전송1</button>
<!--    input:submit-->
    <input type="submit" value="전송2">
</form>
<hr>
<h2> None 방식의 폼문서</h2>
<form action="/result" >
<!--    전송버튼 : button, input:submit -->
    <button>전송1</button>
<!--    input:submit-->
    <input type="submit" value="전송2">
</form>

</body>
</html>